# Application
NODE_ENV=development
PORT=3000

# MongoDB
# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://<DB_USERNAME>:<DB_PASSWORD>@cluster0.p45io4t.mongodb.net/oms-database?appName=Cluster0

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:5173
